

<div>
    <h1 class = "about">
        A Bit About Me
    </h1>
</div>
<div>
    <h3 class = "like things">Things I Enjoy In My Life</h3>
    
        <ul>
            <div class = "list">
                <li>My Cats</li>
                <li>Goode Scotch</li>
                <li>Goode Puns</li>
                <li>My Home</li>
                <li>Learning New Things</li>
                <li>Traveling</li>
            </div>
        </ul>
    
</div>
<div>
    <h3 class ="doThings">Things I Do For Fun</h3>
        <ul>
            <div class = "list">
                <li><a href="https://www.instagram.com/goodenails10/">Nail Art</a></li>
                <li>Draw</li>
                <li>Aerial Acrobatics</li>
                <li>Make Unique Cocktails</li>
                <li>Play N64</li>
            </div>
        </ul>
</div>
<div>
        <p class = "aboutParagraph">
            Currently I have been working in most roles throughout the mortgage industry.
            For the last 10 years I have been in production roles centered around client service, homeowners and flood insurance, as well as underwriting.
            My current position is in Collateral Underwriting/Appraisal Relations.
            My title is Appraisal Management and I communicate daily with other appraisal companies to successfully complete home appraisals.
            I am excited to increase my skills and venture into a new career path working with software development.
            In addition to my full time career I also work part time doing nails. 
            Nail care and nail art was a passion I fell into as a creative outlet. 
            Feel free to explore my unique nail art designs <a href="https://www.instagram.com/goodenails10/">here!</a>  
</div>

