<!-- does this comment -->

<!--
   link component 
      home
      about
      contact routes
body component 
  home comp
    header
    photo

  about comp
    header
    body/description
  contact comp
    form

footer component
    linked
    github



-->
<div class = "page head">
  
  <app-header></app-header>

</div>

<div class = "left pan">
    
  <app-left-panel></app-left-panel>
  
</div>


<div class = "body">

  <router-outlet></router-outlet>

</div>

<nav>

  <div class = "right pan">
  
    <app-right-panel></app-right-panel>
  
  </div>
</nav>

<div class = "footer">

  <app-footer></app-footer>

</div>







 















