<div class = "Footer">
    <footer>
        <nav class="button4">
        <a href="https://www.linkedin.com/in/rachel-goode-946946233/">Linked In</a>
        </nav>
        
        <nav class="button5">
        <a href="https://rgoode.github.io/AllAboutRachel/phoneemail.html">Phone</a> 
        </nav>
        
        <nav class="button6">
            <a href="https://rgoode.github.io/AllAboutRachel/phoneemail.html">Email</a>
        </nav>
        <nav class="button7">
            <a href="https://github.com/rgoode">GitHub</a>
        </nav>
    </footer>
</div>
